{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Login</h2>
        <form method="post" action="{% url 'login' %}" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success btn-block">Log in</button>
        </form>

        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}


{#<html>#}
{#<head>#}
{#    <title>User Registration</title>#}
{#</head>#}
{#<body>#}
{#<header>#}
{#    <h1><a href="{% url 'home' %}">Home Page</a></h1>#}
{#</header>#}
{#<div>#}
{#    {% if user.is_authenticated %}#}
{#        <p>Hello {{ user.username }}!</p>#}
{#        <p><a href="{% url 'logout' %}">Log out</a></p>#}
{#    {% else %}#}
{#        <p>Please login.</p>#}
{#        <form method="post" action="{% url 'login' %}">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit">Log in</button>#}
{#        </form>#}
{#    {% endif %}#}
{#    {% block content %}#}
{#    {% endblock content %}#}
{#</div>#}
{#</body>#}
{#</html>#}
